@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav{
    flex: 1;
    text-align: right;
}

.navbar div a{
    font-size: 30px;
    color: black;
}

.navbar div a:hover{
    color: black;
}

nav ul{
    display: inline-block;
    list-style: none;
    top: 0;
    width: 100%;
}

nav ul li{
    display: inline-block;
    margin-right: 70px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    padding: 14px;
    border-radius: 20px;
    border: 3px solid white;
    transition-duration: 0.4s;
}

nav ul li a:hover{
    background: white;
    color: black;
    border: 3px solid black;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul{
    position: absolute;
    width: 250px;
    text-align: center;
    display: none;
}

nav ul li ul li { 
    display: block; 
    width: 200px;
  }

nav ul li ul li a {
    display:block !important;
} 

nav ul {
    display: inline;
    margin: 0;
    padding: 0;
}

section{
    padding: 0,1rem 20%;
}

.cart-container{
    padding: 10vh;
}

.cart-container h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
}

.cart-container table {
    border-collapse: collapse;
    width: 100%;
  }  

.cart-container  th, td {
    padding: 40px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.cart-container input{
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    margin: 1px 0;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background: black;
    border-radius: 20px;
    cursor: pointer;
    padding: .5rem 2rem;
    border: 3px solid black;
    transition-duration: 0.4s;
    margin-left: 110px;
}

.btn:hover{
    background: white;
    color: black;
    border: 3px solid black;
}

.form-button{
    padding-left: 80%;
}

.cart-container input
{
    width: 70px;
    font-size: 14px;
    border: 1.5px solid #ddd;
    border-radius: 15px;
    padding: 15px 4px 15px 15px;
    outline: 1;
}
.cart-container img{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

hr{
    margin: 40px 110px 80px 110px;
}

.footer{
    text-align: center;
    padding-bottom: 30px;
    text-decoration: none;
    color: black;
}
 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-ammount{
    height: 40px;
    width: 40px;
    color: #fff;
    background: black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    border: 3px solid black;
    transition-duration: 0.4s;
}

.btn-ammount:hover{
    background: white;
    color: black;
    border: 3px solid black;
}
